    <style>
        
        body {
            font-size: 16px;
        }

        h1{
            width: 65px;
            color: orange;
            font-family: sans-serif;
            font-style: italic;
        }

            /* #Lista-cores {
            background-color: palevioletred;
        } */

        
        .Cor-fundo {
            background-color: palevioletred;
            line-height: 200%;
            text-align: center;
        }
         

        p{
            font-weight: 600;
            font-size: 3em;
            
        }

        #am{
            background-color: yellow;
        }

        #ver{
            background-color: red;
        }

        #mar{
            background-color: brown;
        }


       

      


    </style>