div:hover {
 background-color: #b37e89;
}

div:nth-of-type(1) {
  background-color: blue;
}
div:nth-of-type(2) {
  background-color: green;
}
div:nth-of-type(3) {
  background-color: red;
  height: 50px;
}
div:nth-of-type(4) {
  background-color: black;
}
div:nth-of-type(5) {
  background-color: wheat;
}
div:nth-of-type(1) h3 {
  border: solid 3px;
  border-color: rgb(241, 128, 204);
 
}
div:nth-of-type(2) h3 {
  border: solid 3px;
  border-color: rgb(216, 23, 32);
}

div:nth-of-type(3) h3 {
  border: solid 3px;
  border-color: rgb(10, 184, 62);
}

div:nth-of-type(4) h3 {
  border: solid 3px;
  border-color: rgb(87, 180, 235);
  color: aliceblue;
}

div:nth-of-type(5) h3 {
  border: solid 3px;
  border-color: rgb(207, 77, 1);
}

div:nth-of-type(2n + 1) h3 {
  font-style: italic;
}





